@use '../globals' as *;

.header {
  &-right {
    display: flex;
    align-items: center;
    height: to-rem(120);

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: to-rem(8);
      padding: 0 to-rem(8);
      color: #797d7d;
      font-size: to-rem(15);
      font-weight: 500;
      line-height: 150%;

      &:hover {
        color: #33363d;
      }
    }
  }

  .gnb {
    align-items: center;
    border-top: to-rem(1) solid #cdd1d5;
    border-bottom: to-rem(1) solid #cdd1d5;
    background: #fff;

    &-list {
      display: flex;
      align-items: center;
      gap: to-rem(40);
      padding: to-rem(14) 0;
    }

    &-item {
      flex: 1;
      color: #464c53;
      font-size: to-rem(18);
      font-weight: 700;
      line-height: 150%;

      .gnb-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: to-rem(4);
      }
    }
  }
}
