@use '../abstracts' as *;
@use '../variables/colors' as *;
@use '../variables/typography' as *;

.radio-button {
  display: flex;
  align-items: center;
  gap: to-rem(16);
}
.ui-radio {
  display: flex;
  align-items: center;
  gap: to-rem(8);

  // 기본 크기 - medium
  &--medium {
    .ui-radio__control {
      width: to-rem(20);
      height: to-rem(20);
    }

    .ui-radio__dot {
      width: to-rem(10);
      height: to-rem(10);
    }

    .ui-radio__title {
      @include font-size(17, 1.5);
    }

    .ui-radio__description {
      @include font-size(15, 1.5);
    }
  }

  // 큰 크기 - large
  &--large {
    .ui-radio__control {
      width: to-rem(24);
      height: to-rem(24);
    }

    .ui-radio__dot {
      width: to-rem(12);
      height: to-rem(12);
    }

    .ui-radio__title {
      @include font-size(19, 1.5);
    }

    .ui-radio__description {
      @include font-size(17, 1.5);
    }
  }

  // 비활성화 상태
  &--disabled {
    .ui-radio__control {
      background-color: $radio-bg-disabled;
      border-color: $radio-border-disabled;
    }

    .ui-radio__label {
      color: $radio-text-disabled;
      cursor: not-allowed;
    }

    .ui-radio__dot {
      background-color: $radio-text-disabled;
    }
  }
}

.ui-radio__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: to-rem(10);
  padding: to-rem(3) 0;
}

.ui-radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.ui-radio__control {
  @include flex-center;
  background-color: $white;
  border: 1px solid $radio-border-default;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;

  .ui-radio__input:checked + & {
    border-color: $radio-primary;

    .ui-radio__dot {
      opacity: 1;
      transform: scale(1);
    }
  }

  .ui-radio__input:focus + & {
    outline: 2px solid rgba($radio-primary, 0.2);
    outline-offset: 2px;
  }

  .ui-radio__input:disabled + & {
    cursor: not-allowed;
  }
}

// 크기별 선택된 상태의 테두리 두께 설정
.ui-radio--large {
  .ui-radio__input:checked + .ui-radio__control {
    border-width: to-rem(1.6);
  }
}

.ui-radio--medium {
  .ui-radio__input:checked + .ui-radio__control {
    border-width: to-rem(1.4);
  }
}

.ui-radio__dot {
  background-color: $radio-primary;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease;
}

.ui-radio__label {
  @include flex(column, center, flex-start);
  gap: to-rem(4);
  cursor: pointer;
  flex: 1;

  .ui-radio--disabled & {
    cursor: not-allowed;
  }
}

.ui-radio__title {
  color: $radio-text-primary;
  font-weight: $font-normal;
  width: 100%;
}

.ui-radio__description {
  color: $radio-text-secondary;
  font-weight: $font-normal;
  width: 100%;
}
