@use '../abstracts' as *;
@use '../variables/layout' as *;

// ============================================
// Main Container
// ============================================
.main-container {
  margin: to-rem(40) 0;

  @include mobile {
    margin: to-rem(20) 0;
  }
}

// ============================================
// Banner Component SCSS
// ============================================
.banner {
  @include relative;
  width: 100%;
  height: to-rem(468);

  @include tablet {
    height: to-rem(350);
  }

  @include mobile {
    height: to-rem(280);
  }

  &__background {
    @include absolute(0, null, null, 0);
    @include bg-image('#{$image-path}building-image.png');
    width: 100%;
    height: 100%;
    border-radius: to-rem(12);
  }

  &__mask-group {
    @include absolute(0, null, null, 0);
    width: 100%;
    height: 100%;
    background-color: alpha(#000, 0.2);
    border-radius: to-rem(12);
  }

  &__content {
    @include flex-column-center;
    width: 100%;
    max-width: to-rem(800);
    margin: 0 auto;
    height: 100%;
    gap: to-rem(10);
    position: relative;
    z-index: 10;
    padding: 0 to-rem(20);

    h1 {
      color: white;
      @include font-size(40, 1.5);
      font-weight: 700;
      letter-spacing: to-rem(1);
      text-align: center;

      @include tablet {
        @include font-size(32);
      }

      @include mobile {
        @include font-size(24);
        letter-spacing: to-rem(0.5);
      }
    }

    p {
      color: white;
      @include font-size(19, 1.5);
      font-weight: 700;
      text-align: center;

      @include tablet {
        @include font-size(17);
      }

      @include mobile {
        @include font-size(16);
      }
    }
  }

  &__search-container {
    width: 100%;
    border-radius: to-rem(12);
    background: white;
    @include shadow(2);

    @include mobile {
      margin: 0 to-rem(20);
      width: calc(100% - #{to-rem(40)});
    }
  }
}
