---
const { title = '', breadcrumbItems = [] } = Astro.props;

import LeftMenu from '@/components/layout/LeftMenu.astro';
import Breadcrumb from '@/components/layout/Breadcrumb.astro';
---

<div class="sub-layout inner">
  <aside class="left-menu">
    <LeftMenu />
  </aside>

  <main class="sub-content">
    {breadcrumbItems.length > 0 && <Breadcrumb items={breadcrumbItems} />}
    <div class="flex justify-between">
      <h1 class="page-title--h1">{title}</h1>
      <slot name="right" />
    </div>
    <slot />
  </main>
</div>
<style lang="scss">
  @use '@styles/abstracts' as *;
  @use '@styles/variables/colors' as *;
  @use '@styles/variables/typography' as *;

  .sub-layout {
    display: flex;
    min-height: calc(100vh - #{to-rem(80)});
  }
</style>
