/* Error: expected "{".
 *      ,
 * 4024 | >>>>>>> 55e49925346d54493c57061d5e848b4cd10ced4c
 *      |                                                 ^
 *      '
 *   src\styles\components\_sub.scss 4024:49  @use
 *   src\styles\main.scss 31:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 4024 \2502  >>>>>>> 55e49925346d54493c57061d5e848b4cd10ced4c\d\a      \2502                                                  ^\a      \2575 \a   src\\styles\\components\\_sub.scss 4024:49  @use\a   src\\styles\\main.scss 31:1                root stylesheet';
}
