---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiBookCard, UiCollectionAccordion, UiAccordion } from '@components';

const breadcrumbItems = [
  { label: '홈', href: '/' },
  { label: '도서검색', href: '/support' },
  { label: '소장도서검색' },
];
---

<Layout title="소장도서검색_상세검색 - 연수구립도서관">
  <SubLayout title="" breadcrumbItems={breadcrumbItems}>
    <!-- 도서 상세 -->
    <div class="search-detail-section__content">
      <!-- 검색 결과 목록 -->
      <div class="search-result-list mt24">
        <!-- 도서 아이템 -->
        <UiBookCard
          index={1}
          imageUrl="/assets/images/default-book.png"
          badges={[
            { label: 'DVD', type: 'success', size: 'large' },
            { label: '대출불가', type: 'warning' },
          ]}
          title="서점탐정 유동인. 2, 리턴즈"
          titleHighlights={['탐정', '리턴즈']}
          author="조성희 감독"
          details={{
            callNumber: 'DV 688.2-조54ㅌ',
            publishYear: '2017',
            library: '연수청학',
            readingRoom: 'OOO자료실',
            registrationNumber: 'HV0000000881',
          }}
        />
        <!-- 소정정보 -->
        <UiCollectionAccordion
          title="소장정보"
          iconType="arrow"
          isExpanded={false}
          className="custom-accordion"
        />

        <UiAccordion
          title="아코디언 제목"
          variant="bordered"
          size="medium"
          iconType="chevron"
          isExpanded={false}
          className="custom-accordion"
        >
          <p>아코디언 내용입니다.</p>
        </UiAccordion>
      </div>
    </div>
  </SubLayout>
</Layout>
