---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiEmpty, UiImageTitleResult, UiSearchResultHeader, UiTab, UiTitleOnlyResult } from '@components';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '도서검색', href: '/search' }, { label: '통합검색' }];
const tabs = [
  { label: '전체', id: 'all', active: true },
  { label: '도서(000)', id: 'book', active: false },
  { label: '웹콘텐츠(000)', id: 'webcontent', active: false },
  { label: '게시판(000)', id: 'board', active: false },
  { label: '문화행사(000)', id: 'culture', active: false },
  { label: '프로그램(000)', id: 'program', active: false },
];
---

<Layout title="통합검색">
  <SubLayout title="통합검색" breadcrumbItems={breadcrumbItems}>
    <div class="search-container">
      <input type="text" placeholder="검색어를 입력해주세요" id="search-input" class="search-input" />
      <button class="search-btn">검색</button>
    </div>

    <div class="search-info-summary">
      <span><strong>[홍길동]</strong>에 대한 검색 결과 총 <strong>190</strong>건</span>
    </div>

    <UiTab tabs={tabs} variant="default" className="mt40 search-type-tabs ui-tab--grid-6" />

    <ul class="search-result-container mt40">
      <li>
        <UiSearchResultHeader title="도서" count={190} />
        <UiImageTitleResult searchTerm="바나나" title="바나나" description="내인생의책 / 글: 안느클레르 레베크 ; 그림: 니콜라 구니 ; 옮김: 박호진" id="1" />
        <UiImageTitleResult title="바나나" description="내인생의책 / 글: 안느클레르 레베크 ; 그림: 니콜라 구니 ; 옮김: 박호진" id="1" />
      </li>
      <li>
        <UiSearchResultHeader title="게시판" count={14000} />
        <UiTitleOnlyResult
          searchTerm="바나나"
          title="[책 읽는 연수구] 연수북페스티벌"
          description="지역 내 도서관 축제 분위기를 조성하고, 풍성한 독서문화프로그램과 즐길거리를 제공하는 연수구립도서관 대표 축제 바나나..."
          id="1"
        />
        <UiTitleOnlyResult
          searchTerm="바나나"
          title="[책 읽는 연수구] 연수북페스티벌"
          description="지역 내 도서관 축제 분위기를 조성하고, 풍성한 독서문화프로그램과 즐길거리를 제공하는 연수구립도서관 대표 축제 바나나..."
          id="1"
        />
      </li>
      <li>
        <UiSearchResultHeader title="도서" count={190} />
        <UiImageTitleResult searchTerm="바나나" title="바나나" description="내인생의책 / 글: 안느클레르 레베크 ; 그림: 니콜라 구니 ; 옮김: 박호진" id="1" />
        <UiImageTitleResult title="바나나" description="내인생의책 / 글: 안느클레르 레베크 ; 그림: 니콜라 구니 ; 옮김: 박호진" id="1" />
      </li>
      <li>
        <UiSearchResultHeader title="게시판" count={14000} />
        <UiTitleOnlyResult
          searchTerm="바나나"
          title="[책 읽는 연수구] 연수북페스티벌"
          description="지역 내 도서관 축제 분위기를 조성하고, 풍성한 독서문화프로그램과 즐길거리를 제공하는 연수구립도서관 대표 축제 바나나..."
          id="1"
        />
        <UiTitleOnlyResult
          searchTerm="바나나"
          title="[책 읽는 연수구] 연수북페스티벌"
          description="지역 내 도서관 축제 분위기를 조성하고, 풍성한 독서문화프로그램과 즐길거리를 제공하는 연수구립도서관 대표 축제 바나나..."
          id="1"
        />
      </li>
    </ul>
  </SubLayout>
</Layout>
