---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '개인정보처리방침' }];
---

<Layout title="개인정보처리방침">
	<SubLayout title="개인정보처리방침" breadcrumbItems={breadcrumbItems} menuType="기타">
		<div class="personal_wrap">
			<div class="personal_box mar_bot50">
				연수구립도서관은 정보주체의 자유와 권리 보호를 위해 「개인정보 보호법」 및 관계 법령이 정한 바를 준수하여, 적법하게 개인정보를 처리하고 안전하게 관리하고 있습니다. 「개인정보 보호법」 제30조에 따라 이용자의 개인정보 처리에 관한 절차 및 기준을 안내하고, 이와 관련한 고충을 신속하고 원활하게 처리하기 위하여 다음과 같이 개인정보 처리방침을 수립ㆍ공개합니다.
			</div>
			<div class="mar_bot50 personal_table_list2 label_layerArea">
				<table>
					<caption class="hide">주요 개인정보 처리 표시(라벨링)</caption>
					<colgroup>
						<col style="width: 16.66%;">
						<col style="width: 16.66%;">
						<col style="width: 16.66%;">
						<col style="width: 16.66%;">
						<col style="width: 16.66%;">
						<col style="width: 16.66%;">
					</colgroup>
					<thead>
						<tr>
							<th colspan="6" class="title">주요 개인정보 처리 표시(라벨링)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#per_btn1" class="on">
								<img src="./assets/images/privacy/per_icon1.png" alt="처리목적"> <br>처리목적
									<div class="label_layer">
										<p class="label_top">처리목적</p>
										<div class="label_txt">개인정보보호 포털(privacy.go.kr)에서<br> 확인 가능</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn4">
								<img src="./assets/images/privacy/per_icon2.png" alt="제3자 제공"> <br>제3자 제공
									<div class="label_layer">
										<p class="label_top">제3자 제공</p>
										<div class="label_txt">정보주체의 동의 또는 법률에<br>의해서만 제3자 제공</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn5">
								<img src="./assets/images/privacy/per_icon3.png" alt="처리 위탁"> <br>처리 위탁
									<div class="label_layer">
										<p class="label_top">처리 위탁</p>
										<div class="label_txt">원활한 개인정보 처리를 위해<br>개인정보 처리위탁</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn6">
								<img src="./assets/images/privacy/per_icon4.png" alt="파기"> <br>파기
									<div class="label_layer">
										<p class="label_top">파기</p>
										<div class="label_txt">보유기간 경과 및 처리목적 달성 시<br> 지체없이 파기</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn7">
								<img src="./assets/images/privacy/per_icon5.png" alt="정보주체의 권리의무"> <br>정보주체의 권리의무
									<div class="label_layer">
										<p class="label_top">정보주체의 권리의무</p>
										<div class="label_txt">정보주체의 개인정보<br> 열람ㆍ정정ㆍ삭제ㆍ정지 처리 요구<br> 등 권리행사</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn8">
								<img src="./assets/images/privacy/per_icon6.png" alt="안전성 확보조치"> <br>안전성 확보조치
									<div class="label_layer">
										<p class="label_top">안전성 확보조치</p>
										<div class="label_txt">관리적, 기술적, 물리적 조치를 취함</div>
									</div>
								</a>
							</td>
						</tr>
						<tr>
							<td><a href="#per_btn9">
								<img src="./assets/images/privacy/per_icon7.png" alt="자동 수집"> <br>자동 수집
									<div class="label_layer">
										<p class="label_top">자동 수집</p>
										<div class="label_txt">이용정보를 저장하고 수시로<br> 불러오는 '쿠키(cookie)'를 사용 및 거부</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn10">
								<img src="./assets/images/privacy/per_icon8.png" alt="개인정보 보호책임자"> <br>개인정보 보호책임자
									<div class="label_layer">
										<p class="label_top">개인정보 보호책임자</p>
										<div class="label_txt">
											(직책) 연수구립도서관장<br> (연락처)032-749-8250
										</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn11">
								<img src="./assets/images/privacy/per_icon9.png" alt="열람 청구"> <br>열람 청구
									<div class="label_layer">
										<p class="label_top">열람 청구</p>
										<div class="label_txt">
											(담당부서) 연수구립도서관<br> (연락처)032-749-8252
										</div>
									</div>
								</a>
							</td>
							<td><a href="#per_btn12">
								<img src="./assets/images/privacy/per_icon10.png" alt="권익침해 구제"> <br>권익침해 구제
									<div class="label_layer">
										<p class="label_top">권익침해 구제</p>
										<div class="label_txt">개인정보 침해에 대한 피해구제,<br> 상담 등을 문의할 수 있음</div>
									</div>
								</a>
							</td>
							<td>
								<a href="#per_btn13">
									<img src="./assets/images/privacy/per_icon11.png" alt="영상정보 처리기기"> <br>영상정보 처리기기
									<div class="label_layer">
										<p class="label_top">영상정보 처리기기</p>
										<div class="label_txt">연수구립도서관의<br> 시설안전·화재예방</div>
									</div>
								</a>
							</td>
							<td>
								<a href="#per_btn14">
									<img src="./assets/images/privacy/per_icon12.png" alt="처리방침 변경"> <br>처리방침 변경
									<div class="label_layer">
										<p class="label_top">처리방침 변경</p>
										<div class="label_txt">2025. 1월부터 적용</div>
									</div>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<p>※ 기호에 마우스 커서를 올려놓으면 중요 사항을 확인할 수 있으며, 자세한 내용은 개인정보 처리방침을 확인하시기 바랍니다.</p>
			</div>
			<div class="mar_bot50 personal_table_list personal_table_list2">
				<table class="type1">
					<caption class="hide">목차</caption>
					<colgroup>
						<col style="width: 7%;">
						<col style="width: 43%;">
						<col style="width: 7%;">
						<col style="width: 43%;">
					</colgroup>
					<thead>
						<tr>
							<th colspan="4" class="title">목&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;차</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="first-row-icon"><img src="./assets/images/privacy/per_icon1.png" alt="처리목적"></td>
							<td><a href="#per_btn1" class="first-link"> 제1조 (개인정보의 처리 목적) </a></td>
							<td><img src="./assets/images/privacy/per_icon6.png" alt="안전성 확보조치"></td>
							<td><a href="#per_btn8"> 제8조(개인정보의 안전성 확보조치) </a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon13.png" alt="보유기간"></td>
							<td><a href="#per_btn2"> 제2조(개인정보의 처리 및 보유기간) </a></td>
							<td><img src="./assets/images/privacy/per_icon7.png" alt="자동수집"></td>
							<td><a href="#per_btn9"> 제9조(개인정보 자동수집 장치의 설치ㆍ운영 및 거부에 관한 사항)</a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon14.png" alt="개인정보 파일 등록 현황"></td>
							<td><a href="#per_btn3"> 제3조(개인정보 파일 등록 현황) </a></td>
							<td><img src="./assets/images/privacy/per_icon8.png" alt="보호책임자"></td>
							<td><a href="#per_btn10"> 제10조(개인정보 보호책임자) </a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon2.png" alt="제3자 제공"></td>
							<td><a href="#per_btn4"> 제4조(개인정보의 제3자 제공) </a></td>
							<td><img src="./assets/images/privacy/per_icon9.png" alt="개인정보 열람 청구"></td>
							<td><a href="#per_btn11"> 제11조(개인정보 열람 청구) </a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon3.png" alt="개인정보 처리의 위탁"></td>
							<td><a href="#per_btn5"> 제5조(개인정보 처리의 위탁) </a></td>
							<td><img src="./assets/images/privacy/per_icon10.png" alt="권익침해 구제방법"></td>
							<td><a href="#per_btn12"> 제12조(권익침해 구제방법) </a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon4.png" alt="개인정보의 파기 절차 및 방법"></td>
							<td><a href="#per_btn6"> 제6조(개인정보의 파기 절차 및 방법) </a></td>
							<td><img src="./assets/images/privacy/per_icon11.png" alt="영상정보처리기기 설치ㆍ운영"></td>
							<td><a href="#per_btn13"> 제13조(영상정보처리기기 설치ㆍ운영) </a></td>
						</tr>
						<tr>
							<td><img src="./assets/images/privacy/per_icon5.png" alt="정보주체와 법정대리인의 권리ㆍ의무 및 행사방법"></td>
							<td><a href="#per_btn7"> 제7조(정보주체와 법정대리인의 권리ㆍ의무 및 행사방법) </a></td>
							<td><img src="./assets/images/privacy/per_icon12.png" alt="개인정보 처리방침의 변경"></td>
							<td><a href="#per_btn14"> 제14조(개인정보 처리방침의 변경) </a></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="mar_bot50 personal_list_box" id="per_btn1">
				<h2>
					<img src="./assets/images/privacy/per_icon1.png" alt="제1조 (개인정보의 처리 목적)"> 제1조(개인정보의 처리 목적)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관의 개인정보파일의 처리목적은
						개인정보파일현황에 명시되어있으며 개인정보보호 포털(<a href="https://www.privacy.go.kr/front/wcp/dcl/per/personalInfoFileSrhList.do?searchInsttCode=3520000&amp;searchInsttNm=%EC%97%B0%EC%88%98%EA%B5%AC" target="_blank" title="새창열림" rel="noopener noreferrer" class="blue">www.privacy.go.kr</a>)에
						상시 등록·공개하고 있습니다.<br> ※ 개인정보보호위원회 개인정보보호 포털(<a href="https://www.privacy.go.kr/front/wcp/dcl/per/personalInfoFileSrhList.do?searchInsttCode=3520000&amp;searchInsttNm=%EC%97%B0%EC%88%98%EA%B5%AC" target="_blank" title="새창열림" rel="noopener noreferrer" class="blue">www.privacy.go.kr</a>)
						→ 개인서비스 → 정보주체권리행사 → 개인정보열람등 요구 → 개인정보파일검색 메뉴(기관명 "연수구" 검색)를 활용해주시기
						바랍니다.
					</li>
					<br>
					<li class="personal_li_none">② 처리하고 있는 개인정보는 제1항의 목적 이외의 용도로는
						이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를
						이행할 예정입니다.</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn2">
				<h2>
					<img src="./assets/images/privacy/per_icon13.png" alt="제2조 (개인정보의 처리 및 보유 기간)"> 제2조(개인정보의 처리 및 보유기간)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 법령에 따른 개인정보 보유ㆍ이용 기간
						또는 정보주체로부터 개인정보를 수집 시 동의 받은 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리합니다.</li>
					<br>
					<li class="personal_li_none">② 각각의 개인정보 처리 및 보유기간은 개인정보파일현황에
						명시되어있으며, 제1조(개인정보의 처리목적)에 명시된 개인정보보호 포털(<a href="https://www.privacy.go.kr/front/wcp/dcl/per/personalInfoFileSrhList.do?searchInsttCode=3520000&amp;searchInsttNm=%EC%97%B0%EC%88%98%EA%B5%AC" target="_blank" title="새창열림" rel="noopener noreferrer" class="blue">www.privacy.go.kr</a>)에
						상시 등록ㆍ공개하고 있습니다.
					</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn3">
				<h2>
					<img src="./assets/images/privacy/per_icon14.png" alt="제3조 (개인정보 파일 등록 현황)"> 제3조(개인정보 파일 등록 현황)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 「개인정보 보호법」 제32조에 따라
						등록ㆍ공개하는 개인정보파일의 처리목적ㆍ보유기간 및 항목은 제1조(개인정보의 처리목적)에 명시된 개인정보보호 포털(<a href="https://www.privacy.go.kr/front/wcp/dcl/per/personalInfoFileSrhList.do?searchInsttCode=3520000&amp;searchInsttNm=%EC%97%B0%EC%88%98%EA%B5%AC" target="_blank" title="새창열림" rel="noopener noreferrer" class="blue">www.privacy.go.kr</a>)에
						상시 등록ㆍ공개하고 있습니다.
					</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn4">
				<h2>
					<img src="./assets/images/privacy/per_icon2.png" alt="제4조 (개인정보의 제3자 제공)"> 제4조(개인정보의 제3자 제공)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 정보주체의 개인정보를 제1조(개인정보의
						처리 목적 및 보유기간)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법
						제17조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</li>
					<br>
					<li class="personal_li_none">② 연수구립도서관은 책이음도서서비스 시행과 관련하여 아래와 같이 개인정보를 제3자에게 제공합니다.
						<ul>
							<li class="personal_li_none">1. 제공하는 개인정보파일의 명칭 : 독서회원 정보</li>
							<li class="personal_li_none">2. 이용기관: 책이음도서서비스 가입한 참여도서관 중
								정보주체가 이용하는 도서관</li>
							<li class="personal_li_none">3. 이용목적: 책이음도서서비스 참여도서관 관외대출 서비스
								제공</li>
							<li class="personal_li_none">4. 근 거: 정보주체의 동의</li>
							<li class="personal_li_none">5. 제공하는 개인정보의 항목 : 대출자번호, 성명,
								이메일주소, 전화번호, 휴대전화번호, 생년월일, 주소, 법정대리인 성명, 법정대리인과의 관계, 대출목록, 대출이력 등
								도서대출 관련 정보</li>
							<li class="personal_li_none">6. 이용기간: 책이음도서서비스 회원 탈퇴시까지</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn5">
				<h2>
					<img src="./assets/images/privacy/per_icon3.png" alt="제5조 (개인정보 처리의 위탁)"> 제5조(개인정보 처리의 위탁)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 독서회원들에게 원활한 서비스를 제공하고자
						아래와 같이 개인정보처리를 위탁하고 있습니다.</li>
					<br>
					<li class="personal_li_none">
						<table>
							<caption class="hide">개인정보처리 위탁 현황</caption>
							<colgroup>
								<col style="width: 16.66%;">
								<col style="width: 22.66%;">
								<col style="width: 22.66%;">
								<col style="width: 12.66%;">
								<col style="width: 12.66%;">
								<col style="width: 12.66%;">
							</colgroup>
							<thead>
								<tr>
									<th>수탁업체</th>
									<th>위탁업무내용</th>
									<th>주소</th>
									<th>근무시간</th>
									<th>전화번호</th>
									<th>위탁기간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>㈜에이블아이앤씨</td>
									<td>연수구립도서관<br> 정보화시스템 통합 유지관리
									</td>
									<td>인천광역시 남동구<br> 인주대로670<br> (구월동)
									</td>
									<td>09:00 ~<br> 18:00
									</td>
									<td>032)224-2400</td>
									<td>2025.01.01. ~<br> 12.31.
									</td>
								</tr>
							</tbody>
						</table>
					</li>
					<br>
					<li class="personal_li_none">② 연수구립도서관은 위탁계약 체결 시 「개인정보 보호법」
						제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 안전성 확보조치, 재위탁 제한, 수탁자에 대한 관리ㆍ감독,
						손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.
					</li>
					<br>
					<li class="personal_li_none">③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본
						개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn6">
				<h2>
					<img src="./assets/images/privacy/per_icon4.png" alt="제6조 (개인정보의 파기 절차 및 방법)"> 제6조(개인정보의 파기 절차 및 방법)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 개인정보 보유기간의 경과, 처리목적 달성
						등 개인정보가 불필요하게 되었을 때에는 내부방침 및 관련 법령에 따라 지체없이 해당 개인정보를 파기합니다.</li>
					<br>
					<li class="personal_li_none">② 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나
						처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의
						데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.</li>
					<br>
					<li class="personal_li_none">③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.<br>
						<ul>
							<li class="personal_li_none">1. 파기절차<br> 연수구립도서관은 파기하여야
								하는 개인정보에 대해 개인정보 파기계획을 수립하여 파기합니다. 연수구립도서관은 파기 사유가 발생한 개인정보를
								선정하고, 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.
							</li>
							<br>
							<li class="personal_li_none">2. 파기방법<br> 연수구립도서관은 전자적 파일
								형태로 기록ㆍ저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록ㆍ저장된 개인정보는 분쇄기로
								분쇄하거나 소각하여 파기합니다.
							</li>
						</ul>
					</li>
					<br>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn7">
				<h2>
					<img src="./assets/images/privacy/per_icon5.png" alt="제7조 (정보주체와 법정대리인의 권리ㆍ의무 및 행사방법)"> 제7조(정보주체와 법정대리인의 권리ㆍ의무 및
					행사방법)
				</h2>
				<ul>
					<li class="personal_li_none">① 정보주체는 연수구립도서관에 대해 언제든지 개인정보
						열람ㆍ정정ㆍ삭제ㆍ처리정지 요구 등의 권리를 행사할 수 있습니다.<br> ※ 단, 14세 미만 아동에 관한 개인정보의
						열람 등 요구는 법정대리인이 직접해야 하며, 14세 이상의 미성년자인 정보주체는 정보주체의 개인정보에 관하여 미성년자
						본인이 권리를 행사하거나 법정대리인을 통하여 권리를 행사할 수도 있습니다.
					</li>
					<br>
					<li class="personal_li_none">② 권리 행사는 연수구립도서관에 대해 「개인정보 보호법」
						시행령 제41조 제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 "개인정보 처리 방법에 관한 고시" 별지
						제8호 서식(<a href="/resources/down/exhibit_1.hwp" class="red">다운로드</a>)을 이용하여 요구 하실 수 있으며,
						연수구립도서관은 이에 대해 지체없이 조치하겠습니다.
					</li>
					<br>
					<li class="personal_li_none">③ 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등
						대리인을 통하여 하실 수도 있습니다. 이 경우 "개인정보 처리 방법에 관한 고시" 별지 제11호 서식에 따라 위임장(<a href="/resources/down/exhibit_2.hwp" class="red">다운로드</a>)을 제출하셔야 합니다.
					</li>
					<br>
					<li class="personal_li_none">④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」
						제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
					<br>
					<li class="personal_li_none">⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가
						수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.</li>
					<br>
					<li class="personal_li_none">⑥ 연수구립도서관은 정보주체 권리에 따른 열람의 요구,
						정정ㆍ삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
					<br>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn8">
				<h2>
					<img src="./assets/images/privacy/per_icon6.png" alt="제8조 (개인정보의 안전성 확보조치)"> 제8조(개인정보의 안전성 확보조치)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 개인정보의 안전성 확보를 위해 다음과
						같은 조치를 취하고 있습니다.<br>
						<ul>
							<li class="personal_li_none">1. 관리적 조치 : 내부관리계획 수립ㆍ시행, 개인정보취급
								담당자의 최소화 및 교육</li>
							<li class="personal_li_none">2. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리,
								비인가자에 대한 접근차단, 고유식별정보 등의 암호화, 보안프로그램 설치</li>
							<li class="personal_li_none">3. 물리적 조치 : 전산실, 자료보관실 등의 접근통제</li>
						</ul>
					</li>
					<br>
					<li class="personal_li_none">② 연수구립도서관은 개인정보의 안전성 확보를 위하여 법령에서
						규정하고 있는 사항 이외에도 다음과 같은 지침을 수립ㆍ운영하고 있습니다.<br>
						<ul>
							<li class="personal_li_none">1. 개인정보보호 지침: 개인정보 유출사고 대응 매뉴얼,
								개인정보의 목적 외 이용 및 제3자 제공 절차서, 재해ㆍ재난 대비 개인정보처리시스템 위기대응 매뉴얼 수립ㆍ운영</li>
						</ul>
					</li>
					<br>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn9">
				<h2>
					<img src="./assets/images/privacy/per_icon7.png" alt="제9조 (개인정보 자동수집 장치의 설치ㆍ운영 및 거부에 관한 사항)"> 제9조(개인정보 자동수집 장치의
					설치ㆍ운영 및 거부에 관한 사항)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 이용자에게 개별적인 맞춤서비스를 제공하기
						위해 이용 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다.</li>
					<br>
					<li class="personal_li_none">② '쿠키(cookie)'는 웹사이트를 운영하는데 이용되는
						서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며, 이용자들의 PC 내의 하드디스크에 저장되기도
						합니다.<br>
						<ul>
							<li class="personal_li_none">가. 쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹
								사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해
								사용됩니다.</li>
							<li class="personal_li_none">나. 쿠키의 설치ㆍ운영 및 거부: 웹브라우저 옵션 설정을
								통해 쿠키의 허용 및 차단 등의 설정을 할 수 있습니다.<br> - Edge: 웹브라우저 우측 상단의 설정
								메뉴&gt;쿠키 및 사이트 권한&gt;쿠키 및 사이트 데이터 관리 및 삭제<br> - Chrome: 웹브라우저 우측 상단의
								설정 메뉴&gt;개인정보 및 보안&gt;쿠키 및 기타 사이트 데이터
							</li>
							<li class="personal_li_none">다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이
								발생할 수 있습니다.</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn10">
				<h2>
					<img src="./assets/images/privacy/per_icon8.png" alt="제10조 (개인정보 보호책임자)"> 제10조(개인정보 보호책임자)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 개인정보 처리에 관한 업무를 총괄해서
						책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고
						있습니다.</li>
					<br>
					<li class="personal_li_none">
						<table>
							<caption class="hide">개인정보 보호책임자 및 담당자</caption>
							<colgroup>
								<col style="width: 15%;">
								<col style="width: 35%;">
								<col style="width: 15%;">
								<col style="width: 35%;">
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">개인정보 보호책임자</th>
									<th colspan="2">개인정보보호 담당자</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>직 책</td>
									<td>연수구립도서관장</td>
									<td>부 서</td>
									<td>연수구립도서관</td>
								</tr>
								<tr>
									<td>성 명</td>
									<td>신 긍 우</td>
									<td>성 명</td>
									<td>김 효 선</td>
								</tr>
								<tr>
									<td>전 화</td>
									<td>032-749-8250</td>
									<td>전 화</td>
									<td>032-749-8259</td>
								</tr>
								<tr>
									<td>이메일</td>
									<td>maxwiz@korea.kr</td>
									<td>이메일</td>
									<td>heysun@korea.kr</td>
								</tr>
							</tbody>
						</table>
					</li>
					<br>
					<li class="personal_li_none">② 정보주체는 연수구립도서관의 서비스를 이용하시면서 발생한
						모든 개인정보보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당자에게 문의할 수 있습니다.
						연수구립도서관은 정보주체의 문의에 대해 지체없이 답변 및 처리해 드릴 것입니다.</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn11">
				<h2>
					<img src="./assets/images/privacy/per_icon9.png" alt="제11조 (개인정보 열람 청구)"> 제11조(개인정보 열람 청구)
				</h2>
				<ul>
					<li class="personal_li_none">① 정보주체는「개인정보 보호법」제35조에 따른 개인정보의 열람
						등의 청구를 연수구립도서관(연수구립도서관)에 할 수 있습니다. 연수구립도서관은 정보주체의 개인정보 열람청구가
						신속하게 처리되도록 노력하겠습니다.<br> - 개인정보 열람청구 접수ㆍ처리부서<br>
						<table>
							<caption class="hide">개인정보 열람청구 접수ㆍ처리부서</caption>
							<colgroup>
								<col style="width: 20%;">
								<col style="width: 20%;">
								<col style="width: 20%;">
								<col style="width: 20%;">
								<col style="width: 20%;">
							</colgroup>
							<thead>
								<tr>
									<th>부 서 명</th>
									<th>담 당 자</th>
									<th>전화번호</th>
									<th>e-mail</th>
									<th>팩스번호</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>연수구립도서관</td>
									<td>김 효 선</td>
									<td>032-749-8259</td>
									<td>heysun@korea.kr</td>
									<td>032-749-8279</td>
								</tr>
							</tbody>
						</table>
					</li>
					<br>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn12">
				<h2>
					<img src="./assets/images/privacy/per_icon10.png" alt="제12조 (권익침해 구제방법)"> 제12조(권익침해 구제방법)
				</h2>
				<ul>
					<li class="personal_li_none">① 정보주체는 개인정보침해로 인한 구제를 받기 위하여
						개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타
						개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
						<p>
							1. 개인정보 분쟁조정위원회: (국번없이) 1833-6972, (www.kopico.go.kr)<br> 2.
							개인정보침해 신고센터:(국번없이) 118, (privacy.kisa.or.kr)<br> 3. 대검찰청 사이버수사과:
							(국번없이) 1301, (www.spo.go.kr)<br> 4. 경찰청 사이버수사국: (국번없이) 182,
							(ecrm.cyber.go.kr)<br>
						</p>
					</li>
					<li class="personal_li_none">② 개인정보 보호법」제35조(개인정보의 열람),
						제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분
						또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br>
						- 중앙행정심판위원회 : (국번없이) 110, (www.simpan.go.kr)
					</li>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn13">
				<h2>
					<img src="./assets/images/privacy/per_icon11.png" alt="제13조 (영상정보처리기기 설치ㆍ운영)"> 제13조(영상정보처리기기 설치ㆍ운영)
				</h2>
				<ul>
					<li class="personal_li_none">① 연수구립도서관은 아래와 같이 영상정보처리기기를
						설치·운영하고 있습니다.
						<ul>
							<li class="personal_li_none">1. 영상정보처리기기 설치근거·목적 : 연수구립도서관의
								시설안전·화재예방</li>
							<li class="personal_li_none">2. 설치 대수, 설치 위치, 촬영 범위 :<br> -
								도서관 내ㆍ외부 등 주요시설물을 촬영범위로 123대 설치(연수청학 32대, 연수꿈담 24대, 송도국제어린이 18대,
								해돋이도서관 16대, 선학별빛 19대, 함박비류 14대)
							</li>
							<li class="personal_li_none">3. 연수구립도서관에서는 개인영상정보 관리책임자 및
								영상정보에 대한 접근권한자를 아래와 같이 지정하고 있습니다.</li>
							<li class="personal_li_none">
								<table>
									<caption class="hide">개인영상정보 관리책임자 및 접근권한자</caption>
									<colgroup>
										<col style="width: 37.3%;">
										<col style="width: 19.3%;">
										<col style="width: 37.3%;">
									</colgroup>
									<thead>
										<tr>
											<th>개인영상정보 관리책임자</th>
											<th colspan="2">개인영상정보 접근권한자</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="7">직 위 : 연수구립도서관장<br> 성 명 : 신 긍 우<br>
												연락처 : 032-749-8250<br> 이메일 : maxwiz@korea.kr
											</td>
											<td>송도국제</td>
											<td>성 명 : 윤영진<br> 연락처 : 032-749-8252<br> 이메일 :
												joooljoo@korea.kr
											</td>
										</tr>
										<tr>
											<td>연수청학</td>
											<td>성 명 : 최은선<br> 연락처 : 032-749-8269<br> 이메일 :
												silver332@korea.kr
											</td>
										</tr>
										<tr>
											<td>연수꿈담</td>
											<td>성 명 : 오수미<br> 연락처 : 032-749-8201<br> 이메일 :
												ohsumi@korea.kr
											</td>
										</tr>
										<tr>
											<td>송도국제어린이</td>
											<td>성 명 : 최우영<br> 연락처 : 032-749-8225<br> 이메일 :
												loori007@korea.kr
											</td>
										</tr>
										<tr>
											<td>해돋이</td>
											<td>성 명 : 함두연<br> 연락처 : 032-749-6955<br> 이메일 :
												dyham@korea.kr
											</td>
										</tr>
										<tr>
											<td>선학별빛</td>
											<td>성 명 : 배봉석<br> 연락처 : 032-749-6713<br> 이메일 :
												bonglight@korea.kr
											</td>
										</tr>
										<tr>
											<td>함박비류</td>
											<td>성 명 : 최미리<br> 연락처 : 032-749-6978<br> 이메일 :
												cmr127@korea.kr
											</td>
										</tr>
									</tbody>
								</table>
							</li>
							<li class="personal_li_none">4. 영상정보 촬영시간, 보관기간, 보관 장소, 처리방법<br>
								- 촬영시간 : 24시간 촬영<br> - 보관기간 : 촬영 시부터 30일<br> - 보관 장소 및 처리방법
								: 연수청학, 연수꿈담, 송도국제어린이, 해돋이, 선학별빛, 함박비류 영상정보처리기기 통제실에 보관‧처리
							</li>
							<li class="personal_li_none">5. 영상정보 확인 방법 및 장소 : 해당 도서관 방문</li>
							<li class="personal_li_none">6. 정보주체의 영상정보 열람 등 요구에 대한 조치 :
								"표준개인정보 보호지침" 별지 제2호 서식에 따라 개인영상정보 열람ㆍ존재 확인 청구서(<a href="/resources/down/exhibit_3.hwp" class="red">다운로드</a>)로 신청하여야 하며, 정보주체 자신이 촬영된 경우 또는 명백히 정보주체의
								생명ㆍ신체ㆍ재산의 이익을 위해 필요한 경우에 한해 열람을 허용함.
							</li>
							<li class="personal_li_none">7. 영상정보 보호를 위한 기술적ㆍ관리적ㆍ물리적 조치:
								내부관리계획 수립, 접근통제 및 접근권한 제한, 영상정보의 안전한 저장ㆍ전송기술 적용, 처리기록 보관 및 위ㆍ변조
								방지조치, 보관시설 마련 및 잠금장치 설치 등</li>
						</ul>
					</li>
					<br>
				</ul>
			</div>
			<div class="mar_bot50 personal_list_box" id="per_btn14">
				<h2>
					<img src="./assets/images/privacy/per_icon12.png" alt="제14조 (개인정보 처리방침의 변경)"> 제14조(개인정보 처리방침의 변경)
				</h2>
				<ul>
					<li class="personal_li_none">① 본 방침은 2025년 4월 1일부터 시행됩니다.</li>
					<br>
					<li class="personal_li_none">② 이전의 개인정보 처리방침은 아래에서 확인하실수 있습니다.<br>
						<table>
							<caption class="hide">개인정보 처리방침 변경 이력</caption>
							<colgroup>
								<col style="width: 20.3%;">
								<col style="width: 59.3%;">
								<col style="width: 20.3%;">
							</colgroup>
							<thead>
								<tr>
									<th>변경일시</th>
									<th>변경내용</th>
									<th>이전 내용보기</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2012.10.10</td>
									<td>개인정보의 제3자 제공 조항 수정 및<br> 개인정보 보호책임자 변경 및<br>
										영상정보처리기기 설치·운영 조항 수정
									</td>
									<td><a href="/ysgplib/uce/normal/personal20121010.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2013.07.24</td>
									<td>개인정보의 처리목적 및 보유기간 등록·공개 조항 수정<br> 도서관별 개인정보 보호담당자
										인적사항 수정<br> 도서관별 개인영상정보 접근권한 담당자 변경 및 인적사항 수정
									</td>
									<td><a href="/ysgplib/uce/normal/personal20130724.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2013.10.23</td>
									<td>개인정보 보호책임자 변경<br> 개인영상정보 관리책임자 및 접근권한자 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20131023.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2014.02.27</td>
									<td>개인영상정보 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20140227.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2014.03.13</td>
									<td>개인정보처리의 위탁 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20140313.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2014.06.14</td>
									<td>개인정보 보호담당자 변경<br> 개인영상정보 접근권한자 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20140614.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2014.08.13</td>
									<td>개인정보 보호담당자 변경<br> 개인영상정보 접근권한자 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20140813.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2015.09.17</td>
									<td>개인영상정보 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20150917.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2015.10.18</td>
									<td>영상정보처리기기 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20151018.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2015.10.28</td>
									<td>영상정보처리기기 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20151028.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2015.11.11</td>
									<td>영상정보처리기기 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20151111.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2016.05.26</td>
									<td>개인정보처리의 위탁 변경<br> 개인정보 보호책임자 변경<br> 영상정보처리기기 설치·운영
										변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20160526.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2016.08.11</td>
									<td>개인정보 보호책임자 변경<br> 영상정보처리기기 설치·운영 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20160811.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2017.02.13</td>
									<td>개인정보처리의 위탁 변경<br> 개인정보 보호책임자 변경<br> 영상정보처리기기 설치·운영
										변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20170213.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2018.03.20</td>
									<td>개인정보처리의 위탁 변경<br> 개인정보 보호책임자 변경<br> 영상정보처리기기 설치·운영
										변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20180320.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2018.09.27</td>
									<td>개인정보의 처리목적 및 보유기간 변경<br> 개인정보 보호책임자 변경<br>
										영상정보처리기기 설치·운영 변경<br> 권익침해 구제방법 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20180927.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2019.04.12</td>
									<td>개인정보의 처리목적 및 보유기간 변경<br> 개인정보처리의 위탁 현행화<br> 개인정보
										보호책임자 현행화<br> 영상정보처리기기 설치·운영 현행화<br> 권익침해 구제방법 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20190412.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2020.05.08</td>
									<td>개인정보처리의 위탁 현행화<br> 개인정보 보호책임자 현행화<br> 영상정보처리기기
										설치·운영 현행화
									</td>
									<td><a href="/ysgplib/uce/normal/personal20200508.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2021.02.23</td>
									<td>개인정보처리의 위탁 현행화<br> 개인정보 보호책임자 현행화<br> 영상정보처리기기
										설치·운영 현행화
									</td>
									<td><a href="/ysgplib/uce/normal/personal20210223.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2023.01.27</td>
									<td>개인정보처리의 위탁 현행화<br> 개인정보 보호책임자 현행화<br> 영상정보처리기기
										설치·운영 현행화
									</td>
									<td><a href="/ysgplib/uce/normal/personal20230127.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2023.04.09</td>
									<td>개인정보처리의 위탁 현행화<br> 개인정보 보호책임자 현행화<br> 영상정보처리기기
										설치·운영 현행화
									</td>
									<td><a href="/ysgplib/uce/normal/personal20230409.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2023.10.10</td>
									<td>개인정보 보호책임자 현행화<br> 영상정보처리기기 설치운영·현행화
									</td>
									<td><a href="/ysgplib/uce/normal/personal20231010.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2024.01.11</td>
									<td>개인정보처리 수탁업체 변경<br> 개인정보 보호책임자 및 보호담당자 변경<br>
										개인영상정보 관리책임자 변경
									</td>
									<td><a href="/ysgplib/uce/normal/personal20240111.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2024.02.17</td>
									<td>개인정보 처리방침 전부 개정</td>
									<td><a href="/ysgplib/uce/normal/personal20240226.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2025.01.02</td>
									<td>개인정보처리 위탁업체 변경<br>개인정보 보호책임자 및 보호담당자 변경<br>개인정보 열람 청구 부서 변경<br>개인영상정보 관리책임자 및 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20250110.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2025.04.01</td>
									<td>개인영상정보 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20250408.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
								<tr>
									<td>2025.08.01</td>
									<td>개인정보보호 담당자 변경, 개인정보 열람청구 접수ㆍ처리부서 변경, 개인영상정보 접근권한자 변경</td>
									<td><a href="/ysgplib/uce/normal/personal20250804.do?tmid=424&amp;smid=528&amp;lmid=528" class="blue">자세히 보기</a></td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</div>
		</div>
	</SubLayout>
</Layout>
