---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiButton, UiPagination, UiSearchbar, UiTable, UiTab } from '@components';

const breadcrumbItems = [
	{ label: '홈', href: '/' },
	{ label: '열린참여마당', href: '/support' },
	{ label: '도서관에바란다' },
];
---

<Layout title="도서관에바란다">
	<SubLayout title="도서관에바란다" breadcrumbItems={breadcrumbItems} menuType="안내마당">
		<!-- 게시글 상세 정보 영역 -->
		<div class="sub-layout__content--detail notice-detail-page">
			<!-- 게시글 헤더 영역 -->
			<div class="post-detail__header">
				<div class="post-detail__meta">
					<h1 class="post-detail__title">
						<!-- 뱃지 관 기관별로 서로 다른 색상으로 적용 필요 도서관 색상 목록 별도 정의-->
						<span class="post-detail__badge post-detail__badge--0">전체</span>
						무료택배 도서대출 신청
					</h1>
					<div class="post-detail__info">
						<div class="post-detail__info-item">
							<span class="post-detail__info-label">작성자</span>
							<span class="post-detail__info-value">박성훈</span>
						</div>
						<div class="post-detail__info-item">
							<span class="post-detail__info-label">작성일</span>
							<span class="post-detail__info-value">2025.08.01</span>
						</div>
						<div class="post-detail__info-item">
							<span class="post-detail__info-label">조회수</span>
							<span class="post-detail__info-value">98</span>
						</div>
					</div>
				</div>
			</div>

			<!-- 게시글 본문 영역 -->
			<div class="post-detail__body">
				x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트
			</div>

			<!-- 게시글 답변 영역 -->
			<div class="post-reply">
				<div class="post-reply__header">
					<div class="post-reply__badge">
						<img src="./assets/images/icon/icon-inquiry.svg" alt="답변" />
						<span>답변</span>
					</div>
					<div class="post-reply__info">
						<div class="post-reply__info-item">
							<span class="post-reply__info-label">담당자</span>
							<span class="post-reply__info-value">관리자</span>
						</div>
						<div class="post-reply__divider"></div>
						<div class="post-reply__info-item">
							<span class="post-reply__info-label">작성일</span>
							<span class="post-reply__info-value">2025.07.02</span>
						</div>
					</div>
				</div>
				<div class="post-reply__content">
					<p>
						답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는
						영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용
						들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변
						내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는
						영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용
						들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변
						내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는
						영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용
						들어가는 영역이다.답변 내용 들어가는 영역이다.답변 내용 들어가는 영역이다.
					</p>
				</div>
			</div>

			<!-- 목록,  수정-->
			<div class="form-actions">
				<UiButton size="large" class="w-140-mobile-full" variant="tertiary" text="목록" type="button" />
				<UiButton size="large" class="w-140-mobile-full" variant="primary" text="수정" type="submit" />
			</div>
		</div>
	</SubLayout>
</Layout>
