---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiButton, UiPagination, UiSearchbar, UiTable, UiTab } from '@components';

const breadcrumbItems = [
	{ label: '홈', href: '/' },
	{ label: '열린참여마당', href: '/support' },
	{ label: '독서동아리 지원 사업' },
];
---

<Layout title="독서동아리 지원 사업">
	<SubLayout title="독서동아리 지원 사업" breadcrumbItems={breadcrumbItems} menuType="안내마당">
		<!-- 게시글 상세 정보 영역 -->
		<div class="sub-layout__content--detail notice-detail-page">
			<!-- 게시글 헤더 영역 -->
			<div class="post-detail__header">
				<div class="post-detail__meta">
					<h1 class="post-detail__title">
						<!-- 뱃지 관 기관별로 서로 다른 색상으로 적용 필요 도서관 색상 목록 별도 정의-->
						<span class="post-detail__badge post-detail__badge--0">전체</span>
						무료택배 도서대출 신청
					</h1>
					<!-- 게시글 정보 이미지, 동아리, 조회수, 작성일 영역 -->
					<div class="book-info clearfix">
						<div class="book-cover">
							<img src="./assets/images/book-cover.jpg" alt="책 표지" />
						</div>
						<div class="book-details">
							<table>
								<colgroup>
									<col width="70px" />
									<col width="auto" />
								</colgroup>
								<tr>
									<th>동아리</th>
									<td>액션터</td>
								</tr>
								<tr>
									<th>ISBN</th>
									<td>ODD</td>
								</tr>
								<tr>
									<th>조회수</th>
									<td>6</td>
								</tr>
								<tr>
									<th>작성일</th>
									<td>2025.05.01</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- 게시글 본문 영역 -->
			<div class="post-detail__body">
				x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트x테스트
			</div>

			<!-- 게시글 푸터 영역 -->
			<div class="post-detail__footer">
				<!-- 이전글/다음글 네비게이션 -->
				<div class="post-navigation">
					<div class="post-navigation__item post-navigation__prev">
						<span class="post-navigation__label">
							<img src="./assets/images/icon/arrow-left.svg" alt="이전글" />
							이전글
						</span>
						<a href="#" class="post-navigation__title">
							[인터넷예약 불가안내] 영주시 출장소나다 작업 (예상 처리시간 약 5분 기간)
						</a>
					</div>
					<div class="post-navigation__item post-navigation__next">
						<span class="post-navigation__label">
							<img src="./assets/images/icon/arrow-right.svg" alt="다음글" />
							다음글
						</span>
						<a href="#" class="post-navigation__title">송도공항아이파크 도서 자료실개방(서비스 안내) 주말근무 안내</a>
					</div>
				</div>
				<div class="post-detail__actions">
					<UiButton
						variant="primary"
						class="w-120-mobile-full"
						size="medium"
						href="./무료택배도서대출-서비스안내"
						text="목록"
					/>
				</div>
			</div>
		</div>
	</SubLayout>
</Layout>

<style is:inline lang="scss">
	@import '../styles/pages/notice-detail';
</style>
