---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiSelect, UiTab, UiSubTab, UiBookListCard, UiPagination } from '@components';
import UiEventTable from '@ui/UiEventTable.astro';
import UiUsageGuide from '@ui/UiUsageGuide.astro';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '도서검색', href: '/search' }, { label: '북스타트' }];
const guideItems = [
	{
		type: 'numbered',
		content: '<b>부모 신분증, 6개월 이내 발급된 주민등록등본</b> 준비',

		subItems: [
			{
				type: 'bullet',
				content: '<b>사진X</b>, 실물 혹은 모바일 서류 가능',
			},
			{
				type: 'bullet',
				content: '<b>부모 외 대리수령 불가</b>',
			},
		],
	},
	{
		type: 'numbered',
		content: '배부단계, 배부시간 확인 후 배부장소 방문(선착순 배부)',
	},
	{
		type: 'numbered',
		content: '아기 개월 수에 맞는 책꾸러미 수령',
	},
	{
		type: 'note',
		content: '단계별 1회 수령 가능하며, 부모 외 대리 수령하실 수 없습니다.',
		indent: 1,
	},
	{
		type: 'note',
		content: '쌍둥이 자녀 또는 연년생으로 동일 단계수령 대상인 경우, 책꾸러미가 1세트 지급됩니다.',
		indent: 1,
	},
];
---

<Layout title="북스타트">
	<SubLayout title="북스타트" breadcrumbItems={breadcrumbItems} menuType="도서검색">
		<div class="info-notice program-notice">
			<div class="info-notice__header">
				<div class="info-notice__icon">
					<img src="./assets/images/icon/icon-info.svg" alt="안내" class="icon icon-sm" />
				</div>
				<h3 class="info-notice__title">북스타트란?</h3>
			</div>
			<div class="program-notice__content">
				<ul class="program-notice__list">
					<li>
						신책과 함께 인생을 시작하는 운동으로 단계별 책꾸러미 배부와 영·유아와 부모가 함께 참여하는 후속 프로그램
						운영합니다.
					</li>
				</ul>
			</div>
		</div>

		<div class="usage-guide">
			<h3 class="usage-guide__title">북스타트 꾸러미 배부</h3>
			<ul class="usage-guide__content">
				<li><strong>참여대상</strong> 주민등록상 인천시 거주자 0개월 ~ 초등 2학년</li>
				<li><strong>배부일 및 장소</strong></li>
			</ul>
		</div>

		<!-- 북스타트 꾸러미 배부 -->
		<div class="usage-guide__table-wrapper">
			<table class="usage-guide__table">
				<thead>
					<tr>
						<th>배부단계</th>
						<th>배부대상</th>
						<th>배부일시</th>
						<th>배부처</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1단계</td>
						<td>0~18개월 영유아</td>
						<td>2025.5.17.(토) 14:00</td>
						<td>송도5동 작은도서관</td>
					</tr>
					<tr>
						<td>2단계</td>
						<td>19~35개월 영유아</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3단계</td>
						<td>36개월~취학전 영유아</td>
						<td>2025.5.24.(토) 12:00</td>
						<td>승기천 잔디광장(북페스티벌 행사장 일대)</td>
					</tr>
					<tr>
						<td>4단계</td>
						<td>초등 1~2학년</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 2025년 연수구 북스타트 꾸러미 선정도서서 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">2025년 연수구 북스타트 꾸러미 선정도서</h3>
		</div>

		<!-- 선정도서 테이블 -->
		<div class="usage-guide__table-wrapper">
			<table class="usage-guide__table selected-books-table">
				<thead>
					<tr>
						<th style="width: 100px;">구분</th>
						<th colspan="2">선정도서</th>
						<th style="width: 150px;">연령</th>
						<th style="width: 80px;">대상</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">북스타트<br />(1단계)</td>
						<td>
							<img src="./assets/images/bookstart/book1-1.png" alt="동글동글 동그라미 책" />
						</td>
						<td>
							<img src="./assets/images/bookstart/book1-2.png" alt="햇살이와 나비" />
						</td>
						<td rowspan="2">생후<br />0~18개월<br />영·유아</td>
						<td rowspan="8">인천<br />시민</td>
					</tr>
					<tr>
						<td>동글동글 동그라미 책/ 이수연 / 키즈엠</td>
						<td>햇살이와 나비 / 이재희 / 보림</td>
					</tr>
					<tr>
						<td rowspan="2">북스타트<br />플러스<br />(2단계)</td>
						<td>
							<img src="./assets/images/bookstart/book2-1.png" alt="타세요, 타!" />
						</td>
						<td>
							<img src="./assets/images/bookstart/book2-2.png" alt="나는 컵이 아니야!" />
						</td>
						<td rowspan="2">생후<br />19~35개월<br />유아</td>
					</tr>
					<tr>
						<td>타세요, 타! / 허아성 / 국민서관</td>
						<td>나는 컵이 아니야! / 나다울 / 토끼섬</td>
					</tr>
					<tr>
						<td rowspan="2">북스타트<br />보물상자<br />(3단계)</td>
						<td>
							<img src="./assets/images/bookstart/book3-1.png" alt="감자 감자 뿅" />
						</td>
						<td>
							<img src="./assets/images/bookstart/book3-2.png" alt="어떻게 추는거야?" />
						</td>
						<td rowspan="2">생후 36개월<br />~취학 전<br />유아</td>
					</tr>
					<tr>
						<td>감자 감자 뿅 / 재희 / 킨더랜드</td>
						<td>어떻게 추는거야? / 기요은 / 페이퍼독</td>
					</tr>
					<tr>
						<td rowspan="2">북스타트<br />책날개<br />(4단계)</td>
						<td>
							<img src="./assets/images/bookstart/book4-1.png" alt="어느날" />
						</td>
						<td>
							<img src="./assets/images/bookstart/book4-2.png" alt="김밥의 탄생" />
						</td>
						<td rowspan="2">초등<br />1~2학년</td>
					</tr>
					<tr>
						<td>어느날 / 서선정 / 향</td>
						<td>김밥의 탄생 / 신유미 / 봉개울</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 알림 박스 -->
		<div class="com-inbo-type2">
			<div class="com-inbo-type2__icon">
				<p>※</p>
			</div>
			<p class="com-inbo-type2__text">6개월 이내 발행된 주민등록등본, 수령자 본인 신분증 (부모 외 수령불가)</p>
		</div>

		<!-- 북스타트 꾸러미 배부 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">참여방법</h3>
			<UiUsageGuide items={guideItems} />
		</div>

		<!-- 북스타트 연계 프로그램 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">북스타트 연계 공동육아 프로그램 「아가랑 책나들이」 운영</h3>
			<div class="contact-info">
				<div class="contact-info">
					<div class="contact-table-wrp">
						<table class="contact-table">
							<colgroup>
								<col width="20%" />
								<col width="auto" />
							</colgroup>
							<tr>
								<th>운영대상</th>
								<td>영·유아(생후 10 ~ 35개월) 및 부모 7가족</td>
							</tr>
							<tr>
								<th>운영기간</th>
								<td>2025. 6. 5.(목) 10:00 ~ 11:00<br />2025. 9. 4.(목) 10:00 ~ 11:00</td>
							</tr>
							<tr>
								<th>운영장소</th>
								<td>연수청학도서관 해돔이도서관</td>
							</tr>
							<tr>
								<th>운영내용</th>
								<td>발달영역(신체/언어/인지/사회정서발달)별 그림책 놀이활동</td>
							</tr>
							<tr>
								<th>신청방법</th>
								<td>홈페이지(문화마당-프로그램 신청) 사전 접수</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- 문의 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">문의</h3>
			<ul class="usage-guide__content">
				<li>032-749-8263</li>
			</ul>
		</div>
	</SubLayout>
</Layout>
