---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import UiButton from '@/components/UI/UiButton.astro';

const title = '상호대차서비스';
const description = '연수구립도서관 상호대차서비스 페이지입니다.';

const breadcrumbItems = [
	{ text: '홈', link: '/' },
	{ text: '안내마당', link: '#' },
	{ text: '상호대차서비스', link: '#' },
];

const processingTime = [
	{ library: '인천광역시교육청 소속 공공도서관', time: '2일' },
	{ library: '인천광역시 소속 공공도서관', time: '2일' },
	{ library: '그 외 공공도서관', time: '7일' },
];
---

<Layout title={title} description={description}>
	<SubLayout title={title} breadcrumbItems={breadcrumbItems} menuType="도서서비스">
		<div class="sub-layout__content">
			<section class="sub-layout__content-inner">
				<!-- 안내 공지 -->
				<div class="info-notice program-notice">
					<div class="info-notice__header">
						<div class="info-notice__icon">
							<img src="./assets/images/icon/icon-info.svg" alt="안내" class="icon icon-sm" />
						</div>
						<h3 class="info-notice__title">상호대차란?</h3>
					</div>
					<div class="program-notice__content">
						<ul class="program-notice__list">
							<li>
								이용자가 원하는 자료가 이용하려는 공공도서관에는 없고 다른 연수구립도서관에 비치되어 있는 경우 원하는
								도서관으로 신청하여 대출할 수 있도록 해주는 도서관 자료 공동 활용 서비스(원하는 자료가 수령도서관에서
								대출 가능한 경우 신청 불가)
							</li>
						</ul>
					</div>
				</div>

				<!-- 참여 도서관 : 연수구립도서관 20개관(2025. 6월 기준) -->
				<div class="mt24">
					<h3 class="usage-guide__title">참여 도서관 : 연수구립도서관 20개관(2025. 6월 기준)</h3>
					<div class="usage-guide__table-wrapper">
						<table class="usage-guide__table overflow-x">
							<colgroup>
								<col width="15%" />
								<col width="40%" />
								<col width="40%" />
							</colgroup>
							<thead>
								<tr>
									<th>순번</th>
									<th>도서관명</th>
									<th>연락처</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>연수청학도서관</td>
									<td>749-8270</td>
								</tr>
								<tr>
									<td>2</td>
									<td>송도국제어린이도서관</td>
									<td>749-8220</td>
								</tr>
								<tr>
									<td>3</td>
									<td>해돋이도서관</td>
									<td>749-6950</td>
								</tr>
								<tr>
									<td>4</td>
									<td>선학별빛도서관</td>
									<td>749-6710</td>
								</tr>
								<tr>
									<td>5</td>
									<td>동춘나래도서관</td>
									<td>749-8240</td>
								</tr>
								<tr>
									<td>6</td>
									<td>함박비류도서관</td>
									<td>749-6970</td>
								</tr>
								<tr>
									<td>7</td>
									<td>연수꿈담도서관</td>
									<td>749-8200</td>
								</tr>
								<tr>
									<td>8</td>
									<td>옥련1동 작은도서관</td>
									<td>749-6026</td>
								</tr>
								<tr>
									<td>9</td>
									<td>옥련2동 작은도서관</td>
									<td>749-6084</td>
								</tr>
								<tr>
									<td>10</td>
									<td>연수1동 작은도서관</td>
									<td>749-6151</td>
								</tr>
								<tr>
									<td>11</td>
									<td>송도2동 작은도서관</td>
									<td>749-6595</td>
								</tr>
								<tr>
									<td>12</td>
									<td>송도3동 작은도서관</td>
									<td>749-6797</td>
								</tr>
								<tr>
									<td>13</td>
									<td>송도5동 작은도서관</td>
									<td>721-6330</td>
								</tr>
								<tr>
									<td>14</td>
									<td>솔안공원 작은도서관</td>
									<td>719-7210</td>
								</tr>
								<tr>
									<td>15</td>
									<td>해찬솔공원 작은도서관</td>
									<td>818-6313</td>
								</tr>
								<tr>
									<td>16</td>
									<td>누리공원 작은도서관</td>
									<td>812-7658</td>
								</tr>
								<tr>
									<td>17</td>
									<td>송도4동 스마트도서관</td>
									<td rowspan="4">749-8270</td>
								</tr>
								<tr>
									<td>18</td>
									<td>스퀘어원 스마트도서관</td>
								</tr>
								<tr>
									<td>19</td>
									<td>연수구청 스마트도서관</td>
								</tr>
								<tr>
									<td>20</td>
									<td>선학역 스마트도서관</td>
								</tr>
							</tbody>
						</table>

						<p class="mt24 text-primary"><strong>※ 송도국제도서관(본관)은 2026년부터 상호대차 사업시작</strong></p>

						<!-- 이용 대상 -->
						<div class="mt24">
							<h3 class="usage-guide__title">이용 대상</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>연수구립도서관 통합회원</li>
							</ul>
						</div>
						<!-- 대상 자료 -->
						<div class="mt24">
							<h3 class="usage-guide__title">대상 자료</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>참여도서관 소장자료 중 관외대출 가능한 자료(연간물, DVD는 제외)</li>
							</ul>
						</div>
						<!-- 신청 권수 -->
						<div class="mt24">
							<h3 class="usage-guide__title">신청 권수</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>1인 3권까지 가능 (보관대기일 : 도착일 포함 3일) <br /> ※ 스마트도서관은 1인 2권까지 가능</li>
							</ul>
						</div>
						<!-- 신청제한 -->
						<div class="mt24">
							<h3 class="usage-guide__title">신청제한</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>자료 도착 후 미대출(누적)횟수가 3회(=권 기준) 초과된 경우 15일 동안 이용제한</li>
							</ul>
						</div>
						<!-- 차량운행 -->
						<div class="mt24">
							<h3 class="usage-guide__title">차량운행</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>
									화/수/목/금/토(매주 5회), 오전10시 이후(1일 1회) <br /> ※ 스마트도서관은 화/금(매주 2회) 오후 2시 이후(1일
									1회)
								</li>
							</ul>
						</div>

						<!-- 신청방법 -->
						<div class="mt24">
							<h3 class="usage-guide__title">신청방법</h3>
							<div class="contact-info">
								<h3>일반 신청</h3>
							</div>
							<p>1.연수구립도서관 홈페이지(www.yspubliclib.go.kr) 로그인</p>
							<p class="mt16">2.자료마당 페이지에서 타관 자료검색 후 대출상태가 비치중인 자료 선택</p>
							<p class="mt16">3.상호대차 신청버튼 클릭하여 "수령도서관" 선택 후 신청하기</p>
						</div>

						<div class="mt24">
							<div class="contact-info">
								<h3>스마트모바일기기를 통한 신청</h3>
							</div>
							<p>1. 스마트모바일기기에서 리브로피아(Libropia) 어플 접속</p>
							<p class="mt16">2. 자료 검색 후 타관(=소장도서관)을 선택</p>
							<p class="mt16">3. 자료상태가 ‘비치자료(대출가능)’인 경우 선택하여 상세정보화면으로 이동</p>
							<p class="mt16">4. 상호대차 신청버튼 클릭하여 ‘수령도서관’ 선택</p>
						</div>

						<!-- 신청취소방법법 -->
						<div class="mt24">
							<h3 class="usage-guide__title">신청취소방법</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>연수구립도서관 홈페이지(www.yspubliclib.go.kr) 로그인</li>
								<li>자료마당 페이지의 ‘내서재 > 상호대차현황’ 메뉴에서 '신청취소'버튼 선택</li>
							</ul>
						</div>

						<!-- 자료상태별 신청가능여부 -->
						<div class="mt24">
							<h3 class="usage-guide__title">자료상태별 신청가능여부</h3>
							<ul class="sub-layout__content-inner-body-item-list mt24">
								<li>자관 : 참여도서관 중 주 이용도서관으로 상호대차 신청시 ‘수령도서관’</li>
								<li>타관 : 참여도서관 중 ‘자관’외의 도서관으로 상호대차 신청시 ‘소장도서관’</li>
							</ul>

							<div class="usage-guide__table-wrapper">
								<table class="usage-guide__table">
									<colgroup>
										<col width="15%" />
										<col width="25%" />
										<col width="25%" />
										<col width="35%" />
									</colgroup>
									<thead>
										<tr>
											<th rowspan="2">구분</th>
											<th colspan="2">자료상태</th>
											<th rowspan="2">자관 기준 <br /> 신청가능 여부</th>
										</tr>
										<tr>
											<th>자관</th>
											<th>타관</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>관외대출자료(대출중)</td>
											<td>비치자료(대출가능)</td>
											<td>신청 가능</td>
										</tr>
										<tr>
											<td>2</td>
											<td>관외대출자료(대출중)</td>
											<td>관외대출자료(대출중)</td>
											<td>신청 불가</td>
										</tr>
										<tr>
											<td>3</td>
											<td>비치자료(대출가능)</td>
											<td>비치자료(대출가능)</td>
											<td>신청 불가</td>
										</tr>
										<tr>
											<td>4</td>
											<td>비치자료(대출가능)</td>
											<td>관외대출자료(대출중)</td>
											<td>신청 불가</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="com-inbo-type2">
							<div class="com-inbo-type2__icon">
								<img src="./assets/images/icon/icon-info-type2.svg" alt="안내" />
							</div>
							<p class="com-inbo-type2__text">
								단, 자료상태가 ‘ 수리제본자료 ’ 또는 ‘ 파손자료 ’처럼 이용불가한 경우 또는 소재불명인 경우
								소장도서관에서는 이용자에게 신청 불가를 통보할 수 있습니다.
							</p>
						</div>

						<!-- 신청 자료의 대출가능 시기기 -->
						<div class="mt24">
							<h3 class="usage-guide__title">신청 자료의 대출가능 시기</h3>

							<div class="usage-guide__table-wrapper">
								<table class="usage-guide__table">
									<colgroup>
										<col width="15%" />
										<col width="25%" />
										<col width="25%" />
										<col width="35%" />
									</colgroup>
									<thead>
										<tr>
											<th colspan="4">대출가능일</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>신청요일</td>
											<td>
												연수청학도서관
												<br /> 연수꿈담도서관
												<br />송도국제어린이도서관
												<br />해돋이도서관
												<br />선학별빛도서관
												<br />동춘나래도서관
												<br />함박비류도서관
												<br />솔안공원 작은도서관
												<br />해찬솔공원 작은도서관
												<br />누리공원 작은도서관
												<br />송도5동 작은도서관
											</td>
											<td>
												옥련1동 작은도서관
												<br />옥련2동 작은도서관
												<br />연수1동 작은도서관
												<br />송도2동 작은도서관
												<br />송도3동 작은도서관
											</td>
											<td>
												송도4동 스마트도서관
												<br />스퀘어원 스마트도서관
												<br />연수구청 스마트도서관
												<br />선학역 스마트도서관
											</td>
										</tr>
										<tr>
											<td>토, 일, 월</td>
											<td>화</td>
											<td>화</td>
											<td>화</td>
										</tr>
										<tr>
											<td>화</td>
											<td>수</td>
											<td>수</td>
											<td>금</td>
										</tr>
										<tr>
											<td>수</td>
											<td>목</td>
											<td>목</td>
											<td>금</td>
										</tr>
										<tr>
											<td>목</td>
											<td>금</td>
											<td>금</td>
											<td>금</td>
										</tr>
										<tr>
											<td>금</td>
											<td>토</td>
											<td>화</td>
											<td>화</td>
										</tr>
									</tbody>
								</table>

								<p class="mt24">※ “책두레신청자료도착” 메시지 수신 후 ‘수령도서관’ 방문하여 회원증 제시</p>
								<p class="mt24">※ 통합대출규정에 따라 대출 (성인도서는 14세미만 회원이 대출불가)</p>
								<p class="mt24">※ 참여도서관 어디서나 반납 가능</p>
								<p class="mt24">※ 스마트도서관 도서의 경우 대출한 기기에서만 반납 가능</p>
								<p class="mt24">※ 화~토요일 오전 9시 이전에 신청한 도서는 당일 수령 가능</p>
							</div>
						</div>

						<div class="com-inbo-type2">
							<div class="com-inbo-type2__icon">
								<img src="./assets/images/icon/icon-info-type2.svg" alt="안내" />
							</div>
							<p class="com-inbo-type2__text">
								단, 차량운행일이 휴관일인 경우 다음 도서관 운영일에 소급 처리되며, 도서관 사정에 따라 대출가능일이 다소
								지연될 수도 있습니다.
							</p>
						</div>

						<!-- 홈페이지 신청 방법 상세 -->
						<div class="mt24">
							<h3 class="usage-guide__title">홈페이지 신청 방법 상세</h3>
							<div class="img-wrp2">
								<img src="./assets/images/usage-guide/usage-guide-01.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-02.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-03.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-04.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-05.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-06.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-07.png" alt="홈페이지 신청 방법 상세" />
							</div>
							<div class="img-wrp2 mt24">
								<img src="./assets/images/usage-guide/usage-guide-08.png" alt="홈페이지 신청 방법 상세" />
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</SubLayout>
</Layout>
