---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import { UiButton, UiTab, UiSelect } from '@components';

const breadcrumbItems = [{ label: '홈', href: '/' }, { label: '문화프로그램', href: '/' }, { label: '영화상영' }];
---

<Layout title="영화상영">
	<SubLayout title="영화상영" breadcrumbItems={breadcrumbItems} menuType="문화마당">
		<div class="info-notice program-notice">
			<div class="program-notice__content">
				<ul class="program-notice__list">
					<li>연수구립도서관에서는 다양한 장르의 영화를 상영하고 있습니다.</li>
					<li>가족 또는 친구들과 함께 방문하시어 재밌는 영화들을 즐기시기 바랍니다.</li>
				</ul>
			</div>
		</div>

		<!-- 이용안내 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">이용안내</h3>
			<div class="usage-guide__table-wrapper">
				<table class="usage-guide__table">
					<thead>
						<tr>
							<th>상영 도서관</th>
							<th>상영 시간</th>
							<th>상영 요일</th>
							<th>좌석수</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>연수중앙도서관</td>
							<td>매주 토요일 오후 2시</td>
							<td>지하 1층 강당실</td>
							<td>67석</td>
						</tr>
						<tr>
							<td>연수어린이도서관</td>
							<td>매주 토요일 오후 2시</td>
							<td>4층 강당실</td>
							<td>50석</td>
						</tr>
						<tr>
							<td>송도국제어린이도서관</td>
							<td>매주 일요일 오후 2시</td>
							<td>2층 강당실</td>
							<td>80석</td>
						</tr>
						<tr>
							<td>청학마을도서관</td>
							<td>매주 토요일 오후 2시</td>
							<td>2층 세미나실</td>
							<td>72석</td>
						</tr>
						<tr>
							<td>선학별빛도서관</td>
							<td>
								＊ 토요일특별상영 : 매월 셋째주 매주 토요일 오후 2시<br />
								＊ 일요일특별상영 : 매월 셋째주 매주 일요일 오후 2시
							</td>
							<td>5층 전시복합실</td>
							<td>103석</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- 이용대상 -->
		<div class="usage-guide">
			<h3 class="usage-guide__title">이용대상</h3>
			<ul class="usage-guide__content">
				<li>지역주민 누구나</li>
			</ul>
		</div>

		<div class="usage-guide">
			<h3 class="usage-guide__title">이용방법</h3>
			<ul class="usage-guide__content">
				<li>상영시간 10분전까지 상영장소로 도착 한 후 선착순 입장합니다.</li>
				<li>별도의 예약 절차는 없습니다.</li>
			</ul>
		</div>

		<div class="usage-guide">
			<h3 class="usage-guide__title">이용요금 : 무료</h3>
			<ul class="usage-guide__content">
				<li>주차장이 혼잡하오니, 대중교통을 이용하여 주시기 바랍니다.</li>
			</ul>
		</div>
	</SubLayout>
</Layout>
