---
import Layout from '@/layouts/Layout.astro';
import SubLayout from '@/components/layout/SubLayout.astro';
import UiButton from '@/components/UI/UiButton.astro';

const breadcrumbItems = [
	{ text: '홈', link: '/' },
	{ text: '안내마당', link: '#' },
	{ text: '통합도서서비스', link: '#' },
];

const participatingLibraries = [
	{
		region: '연수구립도서관',
		libraries: [
			'송도국제도서관',
			'연수청학도서관',
			'연수꿈담도서관',
			'송도국제어린이도서관',
			'해돋이도서관',
			'선학별빛도서관',
			'동춘나래도서관',
			'함박비류도서관',
			'국악상영문도서관',
			'연수1동공동도서관',
			'연수2동공동도서관',
			'송도2동공동도서관',
			'송도3동공동도서관',
			'송도4동공동도서관',
			'송도5동공동도서관',
			'옥련1동공동도서관',
			'해안동공동도서관',
			'누리공원작은도서관',
		],
		services: '인천광역시 연수구청',
	},
	{
		region: '기타 공공도서관',
		libraries: ['연수도서관', '명성심곡', '송도국제구수도서관'],
		services: '인천광역시 교육청',
	},
];
---

<Layout title="통합도서서비스">
	<SubLayout title="통합도서서비스" breadcrumbItems={breadcrumbItems} menuType="도서서비스">
		<div class="sub-layout__content">
			<section class="sub-layout__content-inner">
				<!-- 안내 공지 -->
				<div class="info-notice program-notice">
					<div class="info-notice__header">
						<div class="info-notice__icon">
							<img src="./assets/images/icon/icon-info.svg" alt="안내" class="icon icon-sm" />
						</div>
						<h3 class="info-notice__title">하나의 회원증으로 전국어디서든 도서대출 OK!</h3>
					</div>
					<div class="program-notice__content">
						<ul class="program-notice__list">
							<li>
								이용자가 하나 이상의 공공도서관에서 서비스를 제공받고자 할 경우, 공공도서관 통합도서서비스
								회원(통합회원)으로 가입하면 통합도서서비스에 참여하고 있는 공공도서관에서 별도의 회원가입 절차 없이
								이용할 수 있는 서비스
							</li>
						</ul>
					</div>
				</div>

				<!-- 통합도서서비스 모형 -->
				<div class="mt40">
					<h3 class="usage-guide__title">통합도서서비스 모형</h3>
					<div class="service-model mt24">
						<img
							src="./assets/images/info-notice.jpg"
							alt="통합도서서비스 모형 - A도서관, B도서관, C도서관이 지역센터1을 통해 통합센터와 연결되고, D도서관, E도서관, F도서관이 지역센터2를 통해 통합센터와 연결되는 구조"
						/>
					</div>
				</div>

				<!-- 통합회원제도 시행 도서관에서 발급받은 독서회원증을 소지한 자 -->
				<div class="integrated-service-info">
					<div class="integrated-service-info__header">
						<img src="./assets/images/icon/guide_check.svg" alt="안내" class="icon icon-md" />
						<h3 class="integrated-service-info__title">통합회원제도 시행 도서관에서 발급받은 독서회원증을 소지한 자</h3>
					</div>
					<div class="integrated-service-info__content">
						<ul class="integrated-service-info__list">
							<li class="integrated-service-info__list-item">
								<div class="integrated-service-info__item-header">
									<span class="integrated-service-info__item-number">1.</span>
									<strong class="integrated-service-info__item-title">A도서관 회원가입</strong>
								</div>
								<ul class="integrated-service-info__sublist">
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											이용자 공공도서관 A도서관에서 입증 후 통합도서서비스로 회원가입
										</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">회원정보가 지역센터1로 통합센터에 저장</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">[입대 이용 중 도서관 : A도서관]</span>
									</li>
								</ul>
							</li>
							<li class="integrated-service-info__list-item">
								<div class="integrated-service-info__item-header">
									<span class="integrated-service-info__item-number">2.</span>
									<strong class="integrated-service-info__item-title">C도서관 회원발행</strong>
								</div>
								<ul class="integrated-service-info__sublist">
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											C도서관에서는 통합도서서비스를 이용한 지역센터1에서 회원과 정보를 전달받아 자관에서 이용 가능한
											회원으로 자동등록 처리
										</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											1. 제대로 행정기 지역센터1로 통합센터에 저장
										</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											2. [입대 이용 중 도서관 : A도서관, C도서관]
										</span>
									</li>
								</ul>
							</li>
							<li class="integrated-service-info__list-item">
								<div class="integrated-service-info__item-header">
									<span class="integrated-service-info__item-number">3.</span>
									<strong class="integrated-service-info__item-title">F도서관 회원발행</strong>
								</div>
								<ul class="integrated-service-info__sublist">
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											F도서관에서는 통합도서서비스를 이용한 통합센터에 원인과 정보를 전달받아 자관에서 이용 가능한
											회원으로 자동등록 처리
										</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											1. 제대로 행정기 지역센터2 통합센터에 저장
										</span>
									</li>
									<li class="integrated-service-info__sublist-item">
										<span class="integrated-service-info__sublist-text">
											2. [입대 이용 중 도서관 : A도서관, C도서관, F도서관]
										</span>
									</li>
								</ul>
							</li>
						</ul>
						<p class="integrated-service-info__note">
							※ 통합도서관의 개인정보보호를 위해, 통합센터의 이용 및 모든 공공도서관 도서관에서를 제공로 진행 시비가
							개인정보를 공유받지 않습니다. (서비스스코드와 통합도서서비스의 대응으로 대체 및 처리 개인정보를 공유받지
							않음)
						</p>
					</div>
				</div>

				<!-- 연수구 통합도서서비스 참여도서관 현황 -->
				<div class="mt40">
					<div class="usage-guide">
						<h3 class="usage-guide__title">연수구 통합도서서비스 참여도서관 현황</h3>
					</div>

					<div class="usage-guide__table-wrapper mt24">
						<table class="usage-guide__table">
							<caption class="hide">연수구 통합도서서비스 참여도서관 현황</caption>
							<colgroup>
								<col style="width: 30%;" />
								<col style="width: 40%;" />
								<col style="width: 30%;" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">구분</th>
									<th scope="col">참여도서관</th>
									<th scope="col">소속기관</th>
								</tr>
							</thead>
							<tbody>
								{
									participatingLibraries.map(item => (
										<tr>
											<td>{item.region}</td>
											<td>
												{item.libraries.map((lib, index) => (
													<>
														{lib}
														{index < item.libraries.length - 1 && <br />}
													</>
												))}
											</td>
											<td>{item.services}</td>
										</tr>
									))
								}
							</tbody>
						</table>
					</div>
				</div>

				<div class="tac mt40">
					<UiButton
						variant="primary"
						size="medium"
						text="전국 참여도서관 보기 바로가기"
						icon="icon-arr-right"
						iconAddClass="icon-xxsm icon-white"
						href="#"
					/>
				</div>
			</section>
		</div>
	</SubLayout>
</Layout>
