// 기본 색상
$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333;
$background-color: #fff;

// 헤더 색상
$header-bg: #fff;
$header-text: #333;

// Gray 색상 팔레트
$white: #ffffff;
$gray-90: #191a1a;
$gray-300: #d1d5db;
$gray-600: #6b7280;
$gray-700: #374151;
$gray-800: #1f2937;
