---
export interface EventRow {
	category: string;
	description: string;
	image?: string;
	imageAlt?: string;
}

export interface Props {
	class?: string;
	rows?: EventRow[];
}

const { class: className = '', rows = [] } = Astro.props;
---

<div class={`ui-event-table ${className}`}>
	<div class="ui-event-table__border-top"></div>
	{
		rows.map(row => (
			<div class="ui-event-table__row">
				<div class="ui-event-table__cell ui-event-table__cell--category">
					<div class="ui-event-table__cell-content">
						<p>{row.category}</p>
					</div>
				</div>
				<div class="ui-event-table__cell ui-event-table__cell--description">
					<div class="ui-event-table__cell-content">
						<div class="ui-event-table__description">
							<div class="ui-event-table__icon">
								<img src="./assets/images/icon/icon-chevron-left-type2.svg" alt="오른쪽 화살표" />
							</div>
							<div class="ui-event-table__text" set:html={row.description} />
						</div>
					</div>
				</div>
				<div class="ui-event-table__cell ui-event-table__cell--image">
					<div class="ui-event-table__cell-content">
						{row.image && (
							<div class="ui-event-table__image">
								<img src={row.image} alt={row.imageAlt || ''} />
							</div>
						)}
					</div>
				</div>
			</div>
		))
	}
</div>
