---
export interface Props {
  text?: string;
  iconSrc?: string;
  options?: { label: string; url: string }[];
  width?: string;
  height?: string;
}

const {
  text = '관련사이트 바로가기',
  iconSrc = '/assets/images/icon/icon-arr-right.svg',
  options = [
    { label: '인천광역시청', url: 'https://www.incheon.go.kr' },
    { label: '연수구청', url: 'https://www.yeonsu.go.kr' },
    { label: '국립중앙도서관', url: 'https://www.nl.go.kr' },
    { label: '한국도서관협회', url: 'https://www.kla.kr' },
    { label: '공공도서관 통합서비스', url: 'https://www.data4library.kr' },
  ],
} = Astro.props;
---

<div class="related-site-dropdown">
  <button class="related-site-button" type="button">
    <span class="related-site-button__text">{text}</span>
    <div class="related-site-button__icon">
      <img src={iconSrc} alt="" />
    </div>
  </button>

  <ul class="related-site-dropdown__menu">
    {
      options.map(option => (
        <li class="related-site-dropdown__item">
          <a href={option.url} target="_blank" rel="noopener noreferrer" class="related-site-dropdown__link">
            {option.label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
