---

---

<div class="search-info-summary mb-4">
  <span>검색 결과 총 <strong>0002</strong>건 중 <strong>5</strong>건 검색</span>
  <span class="search-keyword-info ml-2">
    [키워드: <span class="text-blue-600">홍길동</span>, <span
      class="text-blue-600">발행처: 2222</span
    >]
  </span>
</div>
